/* App.css */

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height */
}

header {
  flex: 0 0 auto; /* Fix header size */
}

main {
  flex: 1 0 auto; /* Allow main content to grow */
}

footer {
  flex: 0 0 auto; /* Fix footer size, if applicable */
}
